*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.form-register{
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'arial';
    color: white;
}

.form-register h4{
    font-size: 22px;
    margin-bottom: 20px;
    border-bottom: 1px solid;
    text-align: center;
}

.controls{
    width: 100%;
    background: #252323;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'arial';
    font-size: 18px;
    
}

.form-register a{
    color: white;
    text-decoration: 0;
    
}

body{
    background-image: url('fondologin.jpg')
}
.form-register a:hover{
    color:white;
    text-decoration: underline;
}

.form-register p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.form-register .botons{
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color:white;
    margin: 16px 0;
    font-size: 16px;
    text-align: center;
    
    
}